body{
  font-family: 'Ubuntu', sans-serif;
}

.header-top-background{
  height: 640px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 25px;
  line-height: 66px;
  color: white;

  position: relative;
}

.header-top-background img{
  height: 12px;
  margin-right: 116px;
}

#lista li{
  list-style: none;
  display: inline-block;
  text-align: right;
  margin-right: 39px;
}

#lista li a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px black;
  font-size: 10px;
  font-weight: lighter;
}

#lista li:last-child{
  margin-right: 0px;
}

.col-lg-2 a{
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-weight: lighter;
  text-shadow: 2px 2px 2px black;
  margin-right: 15px;
  border-right: 1px solid #9b9b9b;
  border-left: 1px solid #9b9b9b;
  padding: 2px 5px;
}

.btn a{
  text-decoration: none;
  color: white;
  font-size: 14px;

  background-color: black;
  padding: 10px 20px;

}

.col-lg-2 p{
  font-size: 10px;
  font-weight: lighter;
  text-shadow: 2px 2px 2px black;

  display: inline-block;
}

.col-lg-2{
  text-align: left;
}

.btn{
  display: inline-block;
}

.central-banner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.central-banner img{
  height: 50px;
}

.central-banner h1{
  font-size: 40px;
}

.central-banner p{
  font-weight: lighter;
}

.central-banner img{
  margin-right: 30px;
  margin-top: 10px;
}

#logo{
  height: 20px;
  margin-top: 100px;
}

#color{
  background-color: #fafafa;
  margin-top: 5rem;
  text-align: center;
}

#color:last-child{
  margin-left: 30px;
  padding-right: 1rem;
  padding-left: 1rem;
}

#color p{
  font-weight: lighter;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#color a {
  margin-bottom: 2.5rem;

  text-decoration: none;
  color: #0070d4;
}

#go{
  width: 480px;
  height: 379px;
}

.main-hero{
  position: relative;
  background-image: url(https://helbiz.com/_nuxt/img/index-banner.1f6fd0a.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}

.main-hero img{
  position: absolute;
  width: 200px;
  height: 400px;
  top: 65%;
  left: 50%;
  transform: translate(-45%,-45%);
}

#phone-title{
  font-size: 33px;
}

#margin-correzione{
  margin-left: 240px;
  line-height: 40px;
}

#margin-correzione p{
  font-weight: lighter;
}

@media screen and (max-width: 993px){
  .header-top-background .col-lg-6 , .col-lg-2{
    display: none;
  }

  .header-top-background h1{
    font-size: 30px;
  }

  .header-top-background p{
    font-size: 14px;
  }

  .header-top-background .central-banner img{
    height: 30px;
  }

  .header-top-background .col-md-1 i{
    display: block;
  }

}
